body{
  display: flex;
  background-color: teal;
  justify-content: center;
  align-items: center;
}

*{
  box-sizing: border-box;
  font: 1.4em;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.title{
  width: 100%;
  text-align: left;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  width: 500px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
  text-align: start;
}

.input{
  width: 100%;
  height: 40px;
  margin: 0;
  font-size: 1.4em;
  font-weight: bold;
  padding-left: 10px;
}

ul{
  margin-left: 0px;
  padding-left: 0;
  list-style-position: inside;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.btn{
  margin-top: 15px;
  height: 40px;
  width: 100%;
}

abbr{
  text-decoration: none;
}

.obrigatorio{
  display: inline;
  color: red;
  cursor: help;
}

.errorText{
  color: red;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 10px;
}

label{
  margin-top: 10px;
}