<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://localhost:3000/assets/css/style.css">
    <link rel="stylesheet" href="http://localhost:3000/assets/css/nav.css">
    <title>MyAgend</title>
  </head>
  <body>