<nav>
  <ul class="nav fixed">
    <li>
      <a class="ml h1" href="/">MyAgend</a>
    </li>
    
    <div class="nav">
      <li>
        <a class="aNav" href="/contato">Novo contato</a>
      </li>

      <% if(user) {%>

        <li class="navLogin">
          <div class="mr aNav name" href=""><%= user.email%></div>
            <div class="nav navL">
              <div class="arrow">▲</div>
              <a class="user" href="/login/<%=user.id%>">Perfil</a>
              <a class="user" href="/login/logout">Sair</a>
            </div>
        </li>
      <%}else{%>

        <li>
          <a class="mr aNav" href="/login">Logar</a>
        </li>

      <%}%>
    </div>
  </ul>
</nav>

<script src="http://localhost:3000/assets/js/user.js"></script>