@charset "UTF-8";

:root{
  --cordestaque: #35E7E6;
  --corfundo: rgba(238, 238, 238, 0.445);
  --corpadrao: #2F2E41;

}

*{
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0px 10vw;
  padding-bottom: 100px;
}

.main{
  border-radius: 10px;
}

em{
  font-size: 1.5em;
  cursor: pointer;
}

.container{
  display: flex;
  background-color: white;
  margin-top: 5%;
}

.img{
  max-width: 450px;
}

.titleLista{
  color: var(--corpadrao);
  font-size: 2em;
}

.intro{
  padding: 0;
  margin: 0px;
  color: var(--cordestaque);
  font-size: 2.2em;
}

aside p{
  max-width: 400px;
  font-size: 1.4em;
}

.sectionTitleLista{
  border: 1px solid darkgray;
  background-color: var(--corfundo);
  border-radius: 10px 10px 0 0;
}

.sectionLista{
  border: 1px solid darkgray;
  padding: 15px;
  border-top: none;
}

.titleLista{
  padding-left: 15px;
}

.grid{
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 20px;
}

.height{
  height: 40px;
  font-size: 1.5em;
}

.btnAddTarefa{
  font-size: 1em;
  background-color: var(--corfundo);
  outline: none;
  border: 1px solid var(--cordestaque);
  border-radius: 5px;
  color: var(--cordestaque);
  transition-duration: 300ms;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.btnAddTarefa:hover{
  background-color: var(--cordestaque);
  color: white;
}

.tarefas{
  list-style: decimal;
  list-style-position: inside;
}

li{
  margin-top: 10px;
}

.sectionTitleLista2{
  border: 1px solid darkgray;
  background-color: var(--corfundo);
  border-radius: 10px 10px 0 0;
  margin-top: 20px;
}

h2{
  padding-left: 15px;
  color:#2F2E41;
}

.border{
  border-radius: 10px;
}

.flexLista{
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  border-bottom: 1px solid var(--cordestaque);
  list-style: decimal;
}


.inputTarefa:focus{
  border: 1px solid var(--cordestaque);
  outline: none;
  border-radius: 5px;
}

.btnApagar{
  outline: none;
  border: none;
  background-color: red;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
  height: 20px;
  transition-duration: 200ms;
  padding-bottom: 20px;
  border-radius: 3px;
}

.btnApagar:hover{
  background-color: teal;
  color: white;
}

.displayNone{
  display: none;
}

#red::placeholder{
  color: rgba(255, 0, 0, 0.884);
  font-size: 1em;
}