.main{
  background-color: #fff;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main h1{
  font-size: 29px;
  text-align: center;
}

.form{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"]{
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.form button[type="submit"]{
  border: none;
  height: 40px;
  width: 40px;
  background-color: var(--button);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}

.form button[type="submit"]:hover{
  border: none;
  height: 40px;
  width: 40px;
  background-color: #f12d4a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarefas{
  margin-top: 30px;
}

.tarefas li{
  padding: 3px 10px;
  margin-top: 5px;
  display: flex;
  transition: 300ms;
  justify-content: space-between;
}

.tarefas li:hover{
  border-radius: 50px;
  box-shadow: 0px 1px rgba(0, 124, 182, 0.349);
}

.tarefas li span{
  display: flex;
  align-items: center;
}

.delete{
  margin-left: 20px;
  color: var(--button);
  cursor: pointer;
  transition: 100ms;
}

.delete:hover{
  color: #f12d4a;
}

.edit{
  transition: 100ms;
  cursor: pointer;
  color: #4dc7e2;
}

.edit:hover{
  color: #00caf8;
}
