@charset "UTF-8";

:root{
  --corpadrao: #001a49;
}

body{
  background-color: red;
  overflow-x: hidden;
  background-image: url(./img/SL-043021-42650-28.jpg);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow-y: hidden;
}

div{
  text-align: center;
  margin: 250px auto;
  font-size: 2em;
  color: white;
}
