@charset "UTF-8";

:root{
  --corbackground: #c3d2f0;
  --corpadrao: #0D6A86;
  --corletter: white;
  --fontpadrao: 'Patrick Hand', cursive;
}

*{
  outline: 0;
  box-sizing: border-box;
}

.title{
  font-family: 'Sansita Swashed', cursive;
  font-size: 40px;
  text-shadow: 2px 2px black;
  font-style: normal;
  font-variant: small-caps;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: white;
  height: 100vh;
  font-family: var(--fontpadrao);
  font-size: 20px;
}

.container{
  width: 550px;
  background-image: linear-gradient(to bottom, #064457, var(--corpadrao), #2187a7) ;
  padding: 30px;
  padding-top: 2px;
  padding-bottom: 10px;
  font-size: 1.3em;
  line-height: 1.5em;
  margin-bottom: 30px;
  border-radius: 5px;
  position: relative;
}

.content{
  position: relative;
}

.flex{
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
  background-image: linear-gradient(to bottom, #064457, var(--corpadrao), #2187a7) ;
  position: absolute;
  z-index: 1;
  right: -40%;
  bottom: 20px;
  width: 300px;
  font-size: 20px;
  line-height: 25px;
}

form input, form label{
  width: 100%;
  display: block;
}

form input{
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
}

form input:focus{
  border: 1px solid var(--corpadrao);
}

.bottom{
  margin-bottom: 10px;
}

.btn{
  margin-top: 20px;
  border: 2px solid var(--corpadrao);
  height: 60px;
  background-color: white;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  color: var(--corpadrao);
  transition-duration: 300ms;
  font-family: var(--fontpadrao);
  font-size: 30px;
}

.btn:hover{
  background-color: var(--corpadrao);
  color: white;
}

.star{
  color: red;
  text-decoration: none;
  cursor: help;
}

.aa{
  color: red;
}

.ideal{
  color: rgb(0, 255, 0);
}

.o1{
  background-color: red; 
  color: white;
  padding: 3px;
  font-size: 18px;
}
.o2{
  background-color: darkred; 
  color: white;
  padding: 3px;
  font-size: 18px;
}
.o3{
  background-color: black; 
  color: white;
  padding: 3px;
  font-size: 18px;
}

.imc{
  float: left;
  font-size: 50px;
  margin: 0 20px 0 0;
  font-style: italic;
  transform: rotate(1deg);
  cursor: default;
}

.imc p {
  width: 500px;
}

.none{
  display: none;
}

.resultado{
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorForm{
  margin-top: -1.5%;
  color: rgb(245, 0, 0);
  font-size: 20px;
  font-style: italic;
}

.none{
  display: none;
}

.alingCenter{
  text-align: center;
}

.info{
  color: #efefef;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #efefef;
  border-radius: 80px;
  width: 38px;
  text-align: center;
  cursor: pointer;
  height: 42px;
}

.info:hover{
  color: white;
  border: 2px solid white;
}

.open{
  animation: open 800ms;
}

@keyframes open{
  0%{
    opacity: 0;
  }

  100%{

    opacity: 1;
  }
}

.shadow{
  text-shadow: 1px 1px black;
}