@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root{
  --corbackground: #33313d;
  --corpadrao: #272727;
  --corletter: white;
  --fontpadrao: 'Smooch Sans', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}

body{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: white;
  font-family: var(--fontpadrao);
  font-weight: bold;
  font-size: 20px;
  background-color: var(--corbackground);
}

.title{
  padding: 20px 0;
  font-size: 2em;
  text-shadow: 2px 2px black;
  font-style: normal;
}

.info{
  color: #efefef;
  position: absolute;
  top: 20px;
  right: 0;
  border: 2px solid #efefef;
  border-radius: 80px;
  width: 38px;
  text-align: center;
  cursor: pointer;
  height: 42px;
  animation: infom 2.5s alternate-reverse;
  animation-delay: 5s;
  font-family: 'Patrick Hand', cursive;
  font-weight: normal;
}

.info:hover{
  cursor: pointer;
  color: white;
  border: 2px solid white;
}

.flex{
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--corbackground);
  position: absolute;
  z-index: 1;
  right: -45%;
  top: 20px;
  width: 320px;
  font-size: 20px;
  line-height: 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.imc{
  float: left;
  font-size: 50px;
  margin: 0 20px 0 0;
  font-style: italic;
  transform: rotate(1deg);
  cursor: default;
}

.shadow{
  font-family: 'Patrick Hand', cursive;  
  font-weight: normal;
  margin-top: 10px;
  font-size: 22px;
}

.container{
  margin-top: 70px;
  border: 1px solid silver;
  background-color: var(--corpadrao);
  width: 480px;
  padding: 30px;
  padding-top: 2px;
  padding-bottom: 10px;
  font-size: 1.3em;
  line-height: 1.5em;
  border-radius: 5px;
  position: relative;
}

.content{
  position: relative;
}

form input, form label{
  width: 100%;
  display: block;
}

form input{
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
}

form input:focus{
  box-shadow: 0px 0px 6px #aaa;
}

.bottom{
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
}

.btn{
  border: none;
  margin-top: 20px;
  height: 60px;
  background-color: white;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  color: var(--corpadrao);
  transition-duration: 300ms;
  font-family: var(--fontpadrao);
  font-size: 30px;
  font-weight: bold;
}

.btn:hover{
  border: none;
  background-color: rgb(65, 65, 65);
  color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.712);
}

.star{
  color: red;
  text-decoration: none;
  cursor: help;
}

.aa{
  color: red;
}

.ideal{
  color: rgb(0, 255, 0);
}

.o1{
  background-color: red; 
  color: white;
  padding: 3px;
  font-size: 18px;
}
.o2{
  background-color: darkred; 
  color: white;
  padding: 3px;
  font-size: 18px;
}
.o3{
  background-color: black; 
  color: white;
  padding: 3px;
  font-size: 18px;
}

.none{
  display: none;
}

.resultado{
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorForm{
  margin-top: -1.5%;
  color: rgb(245, 0, 0);
  font-size: 20px;
  font-style: italic;
}

.none{
  display: none;
}

.alingCenter{
  text-align: center;
}

.open{
  animation: open 800ms;
}

.girar{
  animation: girar 1s;
}

@keyframes open{
  0%{
    opacity: 0;
  }

  100%{

    opacity: 1;
  }
}

@keyframes girar{
  0%{
    transform: rotateY(360deg);
  }
}

@keyframes infom{

  25%{
    transform: rotate(0deg);
  }

  50%{
    transform: rotate(20deg);
  }

  75%{
     transform: rotate(-30deg);
  }

  100%{
    transform: rotate(0deg);
    animation-delay: 5s;
  }
}

.by{
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 13px;
  bottom: -10%;
  right: 3%;
  font-family: sans-serif;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.664);
}

.by a{
  color: white;
  font-style: italic;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.664);;
}

.by a:hover{
  text-decoration: underline;
}