@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100&display=swap');
@font-face {
  font-family: 'timer';
  src: url(img/DS-DIGI.TTF);
}

*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

:root{
  --corbackground: #33313d;
  --corpadrao: #272727;
  --corletter: white;
  --fontpadrao: 'Patrick Hand', cursive;
}

body{
  background-color: var(--corbackground);
}

.title{
  display: inline-block ;
  font-size: 2em;
  font-family: 'Smooch Sans', sans-serif;  
  padding-left: 17px;
  color: white;
  font-weight: 100;
  font-variant: small-caps;
  font-weight: bold;
}

.container{
  padding: 10px 20px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  width: 80%;
  margin: auto;
  margin-top: 70px;
}

.content{
  position: relative;
  padding: 10px;
  padding-left: 30px;
  border-radius: 5px;
  width: 700px;
  margin: auto;
  background-color: #272727;
  border: 1px solid silver;
}

.timer{
  color: white;
  font-size: 5em;
  font-family: 'timer', cursive;  
  margin: auto;
  width: 540px;
}


@media(max-width: 700px){
  .timer{
    font-size: 4em;
    min-width: 0;
    width: 100%;
  }
  .content{
    min-width: none;
  }
}

.red{
  color: rgb(192, 0, 0);
}

.btn{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Architects Daughter', cursive;
  background-color: white;
  margin-left:10px;
  height: 35px;
  margin-bottom: 0;
  width: 80px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 300ms;
}

.start::after{
  content: '⏵︎';
}

.pause::after{
  content: '⏸︎';
}

.restart::after{
  content: ' ⏺︎';
}

.btnNone{
  display: none;
}

.btn{
  border: 1.5px solid rgb(85, 85, 85);
  background-color: #3b3b3b;
  color: white;
}

.btn:hover{
  background-color: #2e2e2e;
}

.restart{
  animation-duration: 1.5s;
  animation-name: rolarRestart;
}

@keyframes rolarRestart{
  from {
    margin-left: 20%;
  }

  to {
    margin-left: 10px;
  }
}

.by{
  position: absolute;
  color: rgba(255, 255, 255, 0.664);
  bottom: -8%;
  font-size: 13px;
  right: 3%;
  font-style: italic;
}

.byL{
  color: rgba(255, 255, 255, 0.664);
  text-decoration: none;
} 

.byL:hover{
  text-decoration: underline;
}

.justCenter{
  justify-content: center;
}

.setTimer{
  overflow-x: auto;
  display: flex;
  font-size: 18px;
  margin-top: 10px;
  color: white;
  text-align: center;
}

.setTimer::first-letter{
  font-size: 30px;
}

.flex{
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

ol{
  list-style: none;
}

.setTimer::-webkit-scrollbar {
  height: 10px;
}

.setTimer::-webkit-scrollbar-track {
  background: var(--corbackground);        /* color of the tracking area */
  border-radius: 4px;

}

.setTimer::-webkit-scrollbar-thumb {
  background-color: var(--corpadrao);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid var(--corbackground);
}
