@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@font-face {
  font-family: 'timer';
  src: url(img/DS-DIGI.TTF);
}

*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

:root{
  --corbackground: #c3d2f0;
  --corpadrao: #0D6A86;
  --corletter: white;
  --fontpadrao: 'Patrick Hand', cursive;
}

.title{
  display: inline-block ;
  font-size: 1em;
  font-family: 'Kaushan Script', cursive;
  padding-left: 17px;
  color: white;
  font-weight: 100;
}

.container{
  padding: 10px 20px;
  margin-top: 70px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.content{
  padding: 10px;
  padding-left: 30px;
  background-image: linear-gradient(to bottom, #064457, var(--corpadrao), #2187a7) ;
  border-radius: 5px;
  width: 700px;
  margin: auto;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.637);
}

.content{
  position: relative;
}

.timer{
  color: white;
  font-size: 5em;
  font-family: 'timer', cursive;  
  text-shadow:1px 1px var(--corpadrao);
  margin: auto;
  width: 540px;
}

@media(max-width: 700px){
  .timer{
    font-size: 4em;
    min-width: 0;
    width: 100%;
  }
  .content{
    min-width: none;
  }
}

.red{
  color: rgb(192, 0, 0);
}

.btn{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Architects Daughter', cursive;
  background-color: white;
  margin-left:10px;
  height: 35px;
  margin-bottom: 0;
  width: 80px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 300ms;
}

.start{
  border: none;
  color: white;
  background-color: rgb(0, 155, 0);
}

.start:hover{
  background-color: rgb(0, 136, 0);
}

.start::after{
  content: '⏵︎';
}

.pause{
  border: none;
  background-color: rgb(192, 0, 0);
  color: white;
}

.pause::after{
  content: '⏸︎';
}

.pause:hover{
  background-color: rgb(170, 3, 3);
}

.restart{
  border: none;
  background-color: rgba(14, 13, 13, 0.904);
  color: white;
}

.restart::after{
  content: ' ⏺︎';
}

.restart:hover{
  background-color: black;
}

.btnNone{
  display: none;
}

.pause{
  animation-duration: 1.5s;
  animation-name: rolarPause;
}

.restart{
  animation-duration: 1.5s;
  animation-name: rolarRestart;
}

@keyframes rolarPause{
  from {
    margin-left: 30%;
  }

  to {
    margin-left: 10px;
  }
}

@keyframes rolarRestart{
  from {
    margin-left: 20%;
  }

  to {
    margin-left: 10px;
  }
}

.by{
  position: absolute;
  color: white;
  bottom: 5%;
  font-size: 13px;
  right: 3%;
  font-style: italic;
}

.byL{
  color: white;
  text-decoration: none;
}

.byL:hover{
  text-decoration: underline;
}
