@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@font-face {
  font-family: 'timer';
  src: url(img/DS-DIGI.TTF);
}

*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

body{
  font-size: 2em;
  background-color: rgb(252, 252, 252);  
}

.title{
  display: inline-block ;
  font-size: 1em;
  text-shadow:1px 1px white;
  font-family: 'Kaushan Script', cursive;
  padding-left: 17px;
}

.hr{
  position: absolute;
  border-bottom: 1px solid black;
  width: 200px;
  
}

.container{
  padding: 10px 20px;
  margin-top: 70px;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #f8f8f8;
  border-radius: 5px;
  max-width: 700px;
  margin: auto;
  box-shadow: 0px 0px 2px black;
}

.content > div{
  position: relative;
}

.timer{
  font-size: 5em;
  font-family: 'timer', cursive;  
  min-width: 680px;
  text-shadow:1px 1px white;
  text-align: center;
}

@media(max-width: 700px){
  .timer{
    font-size: 4em;
    min-width: 0;
    width: 100%;
  }
  .content{
    min-width: none;
  }
}

.red{
  color: rgb(192, 0, 0);
}

.btn{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Architects Daughter', cursive;
  background-color: white;
  margin-left:10px;
}

.btn:hover{
  border: none;
  background-color: black;
  color: white;
}

.start{
  border: 1px solid green;
  color: green;
}

.start:hover{
  background-color: green;
}

.start::after{
  content: '⏵︎';
}

.pause{
  border: 1px solid rgb(192, 0, 0);
}

.pause::after{
  content: '⏸︎';
}

.pause:hover{
  background-color: rgb(192, 0, 0);
}

.restart::after{
  content: ' ⏺︎';
}
