@charset "UTF-8";

.container{
  display: flex;
  gap: 30px;
}

.nav{
  text-decoration: none;
  color: black;
  margin-left: 10px;
  position: relative;
}

.border{
  position: absolute;
  border: 1px solid black;
  width: 0%;
  transition-duration: 300ms;
}

.border:hover{
  width: 24%;
}

.filhoNav{
  display: none;
}

.content:hover > .filhoNav{
  display: block;
}