<%- include('includes/head'); %>
  <section class="container">
    <h1>
      Título
    </h1>
    <form action="" method="post">
     <label for="">Cliente:</label>
     <input type="text" name="cliente">
     <button type="submit">Enviar</button>
    </form>
  </section>

<%- include('includes/footer'); %>