@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --corbackground: #c3d2f0;
  --corpadrao: #0D6A86;
  --corletter: white;
  --fontpadrao: 'Patrick Hand', cursive;
}

.containerC{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c3d2f0;
  padding: 20px;
  height: 100vh;
  font-family: var(--fontpadrao);
  flex-direction: column;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content{
  background-color: var(--corpadrao);
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #064457, var(--corpadrao), #2187a7) ;
}

.data{
  font-size: 4em;
  color: var(--corletter);
  text-align: center;
  width: 100%;
  cursor: default;
}

.point{
  font-size: 4em;
  padding-top: 6px;
  color: var(--corletter);
  cursor: default;
}

.container .back{
  font-size: 5em;
  padding: 0 8px;
  border-radius: 20px;
  margin: 0px 20px 0 20px;
  color: var(--corletter);
  cursor: default;
  transition-duration:200ms;
  width: 80px;
}

.back:hover{
  color: var(--corpadrao);
  background-color: var(--corbackground);
}

.by{
  text-align: center;
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
  color: var(--corletter);
  margin: 10px auto;
}

.by a:hover{
  text-decoration: underline;
}
