@charset "UTF-8";

:root{
  --corpadrao: #001a49;
}

body{
  display: flex;
  height: 95vh;
  align-items: center;
  justify-content: center;
}


main{
  background-color: #fdfdfd;
  padding: 20px;
  border-radius: 6px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.data{
  font-size: 4em;
  color: var(--corpadrao);
  text-shadow: 1.5px 1.5px 2px white;
  text-align: center;
  width: 100%;
  cursor: default;
}

.point{
  font-size: 4em;
  padding-top: 6px;
  color: var(--corpadrao);
  cursor: default;
}

.container .back{
  background-color: var(--corpadrao);
  font-size: 5em;
  height: 100%;
  padding: 6px;
  border-radius: 15px ;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  cursor: default;
  transition-duration:200ms;
  margin-top: 10px;
}

.back:hover{
  color: var(--corpadrao);
  background-color: white;
}
