@font-face {
  font-family: 'digital';
  src: url(img/DS-DIGI.TTF);
}

@font-face {
  font-family: 'titulo';
  src: url(img/IndieFlower-Regular.ttf);
}

*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

body{
  background-image: url(img/pngtree-atmospheric-european-timepiece-background-material-image_125237.jpg);
  font-size: 2em;
  background-size: cover;
}

.text{
  color: black;
  display: inline-block ;
  margin-left:20px;
  margin-top:20px;
  font-size: 3em;
  text-shadow:1px 1px white;
}

.container{
  padding: 10px 20px;
  margin-top: 70px;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.content > div{
  position: relative;
}

.timer{
  background-image: linear-gradient(to top, rgb(255, 255, 255) , rgba(255, 255, 255, 0) 70%);
  background-position-y: -20px;
  min-width: 100%;
  font-size: 5em;
  font-family: 'digital';
  font-style: italic;
  padding-right:30px;
  position: relative;
  width: 565px;
}

.buttons{
  text-align: left;
  position: absolute;
  bottom: -5%;
}

hr{
  width: 650px;
  color: black;
  border:1px solid black;
}