@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100&display=swap');
@font-face {
  font-family: calcu;
  src: url(digital-7.ttf);
}

:root{
  --corbackground: #33313d;
  --corpadrao: #272727;
  --corletter: white;
  --fontpadrao: 'Smooch Sans', sans-serif;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--corbackground);
  }

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 6em;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px black;
  font-variant: small-caps;
  font-family: var(--fontpadrao);
  height: 60px;
  padding-bottom: 20px;
}

.container{
  background-color: var(--corpadrao);
  padding: 30px;
  border-radius: 5px;
  width: 400px;
  position: relative;
  border: 1px solid silver;
}

.display{
  height: 50px;
  text-align: right;
  padding-right:3px;
  margin-bottom: 10px;
  font-size: 45px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid  black;
  color: black;
  font-family: calcu;
  outline: none;
  background-color: white;
}

.calculadoraGrid{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}

.btn{
  height: 60px;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--corbackground);
  font-size: 1.3em;
  border-radius: 700px;
  font-family: sans-serif;
  color: white;
  cursor: pointer;
  transition-duration: 200ms;
}

.btn:hover{
  background-color: #464052;
}

.btnEq{
  background-color: rgb(219, 219, 124);
  color: black;
}

.btnEq:hover{
  background-color: rgb(209, 209, 83);
}

.btnClear{
  background-color: brown;
  color: white;
}

.btnClear:hover{
  background-color: rgb(151, 39, 39);
}

.red{
  color: red;
}

.btnGray:hover{
  background-color: #38383a;
}

.by{
  position: absolute;
  color: rgba(255, 255, 255, 0.664);
  bottom: -5%;
  font-size: 14px;
  right: 8%;
}

.by a{
  color: rgba(255, 255, 255, 0.664);
  font-style: italic;
  text-decoration: none;
}

.by a:hover{
  text-decoration: underline;
}